.job-assistance {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #FFFFFF;
    padding: 20px;
    background-color: #000000;
}

.job-assistance__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 20px;
    text-align: center;
}

.job-assistance__intro {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}

.job-assistance__section {
    margin-bottom: 40px;
    padding: 20px;
    /* background-color: #ffffff; */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-assistance__section-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 15px;
}

.job-assistance__text {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

/* .job-assistance__subsection-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF0000;
    margin-top: 20px;
    margin-bottom: 10px;
} */