.cta-sectionD {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background: #f9f9f9;
    flex-wrap: wrap;
  }
  
  .cta-card {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .cta-card h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #f7c948;
  }
  
  .cta-card h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .cta-card
  
  .cta-btn {
    background-color: white;
    color: #8e2de2;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #f0f0f0;
    color: #6a11cb;
    transform: scale(1.05);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .candidate {
    background: #1b1533;
  }
  
  .employer {
    background: #1b1533;
  }
  

   