.navbar {
  width: 100%;
  background-color: #181818;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}

.nav-container {
  max-width: 1440px;
  max-height: 82px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff0000;
}

.nav-btn .contact-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.nav-btn .contact-btn:hover {
  background-color: #cc0000;
}

/* Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

@media (max-width: 850px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 60%;
    background: #0b0b0b;
    padding: 2rem;
    border-left: 1px solid #222;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-btn {
    display: none;
  }
}
