.hero {
    position: relative;
    background-image: url('../assets/hero-bgf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    padding-bottom: 80px;
    box-sizing: border-box;
    overflow: visible;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 0;
}

.hero h1,
.hero p,
.hero-buttons {
  z-index: 1; 
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #ccc;
}

  .hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hire-btn, .gethired-btn {
  padding: 12px 28px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ;
  cursor: pointer;
}


.hire-btn {
  background-color: #4CAF50; 
  color: white;
}

.hire-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
  
}

.gethired-btn {
  background-color: #007bff; 
  color: white;
}

.gethired-btn:hover {
  background-color: #0b7dda;
  transform: scale(1.05);
} 

.slider-progress-bar {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.slider-progress {
  height: 100%;
  background: #00c6ff; 
  transition: width 0.5s ease;
}


@media screen and (max-width: 768px) {
    .hero h1 {
      font-size: 2.2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
    .hero-buttons {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 0 20px;
    }
    
  }
  

   /* Slider Arrow Customization */
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.slider-arrow svg {
  width: 30px;
  height: 30px;
  color: #333;
}

/* Improve Dots Visibility */
.slick-dots li button:before {
  font-size: 12px;
  color: #ffffff99; /* lighter dot color */
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

/* Optional: smoother h1 */
.hero-title {
  text-align: center;
  font-size: 2.5rem;
}

.hero-subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}
