.apply-job-container {
    max-width: 600px;
    margin: auto;
    padding: 25px;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #FF0000;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
}

.submit-btn {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background: #CC0000;
}

.success-message {
    margin-top: 15px;
    color: #28a745;
    font-weight: bold;
    font-size: 16px;
  }
  
  .file-name {
    font-size: 14px;
    color: #000000;
    margin-top: 4px;
    font-style: italic;
  }
  