/* src/pages/NotFound.css */
.notfound-container {
    text-align: center;
    padding: 100px 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .notfound-container h1 {
    font-size: 100px;
    color: #FF0000;
    margin-bottom: 10px;
  }
  
  .notfound-container p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
  }
  
  .back-home {
    color: white;
    background-color: #FF0000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
  }
  
  .back-home:hover {
    background-color: #0056b3;
  }
  