@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #000000; */
}

h3, h4 {
  color: #000000;
}

input, select, button {
  outline: none;
  border: none;
  font-size: 1rem;
  /* padding: 0.5rem; */
}

button {
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

